.healthbar {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.left {
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.right {
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.modaloff {
  display: none;
}

.modalon {
  display: block;
  position: center;
  outline: 10px;
  outline-color: red;
}
